html {
    background-color: black;
}

body {
    margin: 0;
    font-family: Tahoma, sans-serif;
    background: url();
}

.intro {
    max-height: 100vh;
    overflow: scroll;
    position: relative;
    overflow-x: hidden;
    background: url("img/background.jpg")
    center no-repeat; 
    background-size: cover;
}


.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.img {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.img_media {
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    left: 0;
}